<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="homepage">
  
  </button>
    </ion-buttons>

    <ion-icon ion-item>
      <h1 style="margin-left: 30%"> BrainTech </h1>
    </ion-icon>
  </ion-navbar>

  <ion-searchbar [(ngModel)]="searchQuery1"></ion-searchbar>

</ion-header>

<ion-content padding>


  <ion-grid>
    <ion-row>
      <ion-col col-3 *ngFor="let  data of  mydata ">
         <ion-thumbnail  style="height: 80%;width:80%" *ngIf="data.image!=''">
           
          <img src="{{data.image}}" style="height: 100%;width:100%" >
         </ion-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>