<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="homepage">
      </button>
    </ion-buttons>
    <ion-icon ion-item>
      <h1 style="margin-left: 30%"> BrainTech </h1>
    </ion-icon>
        



    </ion-navbar>
 
</ion-header>
<ion-content padding style="border-color: black;">
  <form [formGroup]="userForm" (ngSubmit)="save()">
<ion-item>
      <ion-avatar style="margin-left: 40%;">
        
        <img src="{{pathForImage(lastImage)}}" style="border-color: black;" (tap)="viewPhotoOption()" *ngIf="lastImage!=null">
         <img src="default.ico" style="border-color: black;" (tap)="viewPhotoOption()" *ngIf="lastImage==null">
       
      </ion-avatar>
      <ion-note [hidden]="lastImage !== null" style="margin-left: 32%; ">Choose Image</ion-note>
    
</ion-item>
<ion-item>
         <ion-label floating>Username</ion-label>
      <ion-input type="text" name="name" formControlName="name"  [(ngModel)]="username"  ></ion-input>
         </ion-item>
      <div  *ngIf="name.hasError('required') && name.touched ">* Username is Invalid</div>   
        <div   *ngIf="!name.valid &&  name.hasError('minlength') ">* Minimum 5 Character Required</div>   
 
<ion-item>
         <ion-label floating>Email Id</ion-label>
      <ion-input type="text" name="name" formControlName="name"  [(ngModel)]="username"  ></ion-input>
         </ion-item>
      <div  *ngIf="name.hasError('required') && name.touched ">* Username is Invalid</div>   
        <div   *ngIf="!name.valid &&  name.hasError('minlength') ">* Minimum 5 Character Required</div>   



    <ion-item>
       <ion-label floating>Select DOB</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="DDDD MMMM YYYY" name="dob" formControlName="myDOB"    ></ion-datetime>

    </ion-item>

<ion-item>
   <ion-label floating>Preferred Language</ion-label>
      <ion-select name="planguage" formControlName="preLanguage" >
        <ion-label>Language</ion-label>
        <ion-option value="English">English</ion-option>
        <ion-option value="Gujarati">Gujarati</ion-option>
        <ion-option value="Hindhi">Hindhi</ion-option>
        <ion-option value="Marathi">Marathi</ion-option>
        <ion-option value="Tamil">Tamil</ion-option>
        <ion-option value="Malaylam">Malaylam</ion-option>
      </ion-select>
   
</ion-item>

  <button ion-button   [disabled]="!userForm.valid" style="margin-left: 30%;margin-top:20%">Save 
<ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline" ></ion-icon>
</button>
  </form>
</ion-content>